@import "https://fonts.googleapis.com/css?family=Press%20Start%202P";
body {
    font-family: "Lato", sans-serif;
    margin: 0px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #221;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #fff090;
    display: block;
    font-family: 'Press Start 2P';
}
.sidenav h1 {
    padding: 6px 6px 6px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff090;
    display: block;
    font-family: 'Press Start 2P';
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 200px;
    height: 100vh;
    background-color: rgb(26, 26, 26);
    margin: 0px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}