<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IAN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" type="image/x-icon" href="../static/images/ianSiteFav.png">
</head>

<body>

    {% include 'nav.html' %}

    <div class="main">
        <div id="about-me">
            <h1>Hello!</h1>
            <h2>My Name Is Ian and I Like to Go to Really Cold Places!</h2>
        </div>
        <div class="gallery-container">
            <div class="gallery-item">
                <img src="../static/images/IMG_5757.JPEG" alt="Image 1">
                <div class="overlay">"Greenland"</div>
            </div>
            <div class="gallery-item">
                <img src="../static/images/IMG_4446.JPEG" alt="Image 2">
                <div class="overlay">Ice Wall</div>
            </div>
            <div class="gallery-item">
                <img src="../static/images/IMG_4915.JPEG" alt="Image 3">
                <div class="overlay">Colorado</div>
            </div>
            <div class="gallery-item">
                <img src="../static/images/IMG_5081.JPEG" alt="Image 4">
                <div class="overlay">Snow</div>
            </div>
        </div>
        
    </div>

</body>

</html>