<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="sidenav">
    <h1>IAN</h1>
    <a href="/">About</a>
    <a href="/projects">Projects</a>
    <a href="/cool">Cool</a>
    <a href="https://www.linkedin.com/in/ian-marsh-20b0a9164" target="_blank" class="icon-link" aria-label="LinkedIn">
        <i style="font-size:24px" class="fa">&#xf08c;</i>
    </a>
    <a href="https://github.com/IanMarsh1" target="_blank" class="icon-link" aria-label="GitHub">
        <i style="font-size:24px" class="fa">&#xf09b;</i>
    </a>
</div>